<!DOCTYPE html>
<html>
<head>
	<title>Product</title>
	<link rel="stylesheet" type="text/css" href="admin.css">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="/image/logo_1.png">

</head>
<body class="body">
<div class="main-form">
	<div class="form">
	    <h2>ADMIN LOGIN</h2>
          
	    <form method="POST" action="" class="form1">
	    	  
		    <div class="email">
		    	<div class="icon">
		    		<span class="fa fa-envelope"></span>
		    	</div>
		    	<div class="text">
		    		 <input type="text" placeholder="Email" name="email" value="" required>
		    	</div>  
		    </div>
		    <div class="email">
		    	<div class="icon">
		    		<span class="fa fa-lock"></span>
		    	</div>
		    	<div class="text">
		    		 <input type="Password" placeholder="Password" name="password" value="" required>
		    	</div> 
		    </div>
		    <div class="forgot">
		    	<a href="">Forgot Password ?</a>
		    </div>
		    <button class="btn" onclick="location.href='product_home.html'" type="button">Log in</button>
	    </form>
    </div>
</div> 
 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</body>
</html>